<form action="/login" method="post" >
	Nom : <input type="text" name="username"><br>
	Mdp : <input type="password" name="password"><br>
	<input type="hidden" name="accountLinkingToken" value="<%= accountLinkingToken %>">
	<input type="hidden" name="redirectURI" value="<%= redirectURI %>">
   <button type="submit" value="Connexion">
</form>