<!DOCTYPE html>
<html>
	<head>
            <meta charset="UTF-8">
            <title>Connexion Drive-intermarché</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                <style type="text/css">
                    body{
                        font-family:arial;
                        height:260px;
                    }
                    label{
                        position:relative;
                        width:125px;
                    }
                    label:after{
                        position:absolute;
                        right:15px;
                        content:':';
                    }
                    .inline{
                        display:inline-block;
                    }
                    input.inline{
                        width:180px;
                            height:35px;
                        line-height:35px;
                    }
                    .popup{
                        position:relative;
                        margin:auto;
                        width:910px;
                    }
                    .popup .popup_content > .inline{
                        display:inline-block;
                        vertical-align:top;
                        width:450px;
                        height:260px;
                    }
                    .connexion_titre{
                        font-size:20px;
                        margin:10px 20px;
                        text-align:left;
                    }
                    p{
                        margin:0 20px;
                        text-align:left;
                    }
                    button{
                        position: relative;
                        height: 35px;
                        margin: auto;
                        margin-top:20px;
                        width:135px;
                        text-transform: uppercase;
                        font-size: 16px;
                        padding: 8px 20px;
                        color:#fff;
                        border:none;
                        display:block;
    
                    }
                    .relative{
                        position:relative;
                    }
                    .centrer{
                        position:relative;
                       width:250px;
                       margin:auto;
                       margin-top:20px;
                    }
                    .centrer p{
                        text-align:center;
                        font-size:20px;
                        text-transform:uppercase;
                        margin-top:20px;
                    }
                    .red{
                        background-color:#b80002;
                    }
                    .grey{
                        background-color:#ece6e6;
                    }
                    .popup .inline.red *{
                        color:#fff;
                    }
                    .form-elt{
                        margin-top:20px;
                    }
                    
                </style>
	</head>
        
<div class="popup">
    <div class="popup_content">
        <div class="inline red">
            <p class="connexion_titre">Première visite ?</p>
            <p>Bonjour chèr(e) inconnu(e), retrouvez vos rayons préférés comme en magasin, et toujours au prix Intermarché !</p>
            <div class="centrer">
                <p>Rapide</p>
                <p>économique</p>
                <p>Avantageux</p>
            </div>
        </div>
        <div class="inline grey relative">
            <form name="connexion">
                <p class="connexion_titre">On se connait ?</p>
                <p>Connectez-vous pour accéder à votre sélection de produits préférés et retrouvez tous vos avantages:</p>
                <p class="form-elt"><label class="inline" for="email">Email  </label><input class="inline" type="text" name="email" id="email"></p>
                <p class="form-elt"><label class="inline" for="password">Mot de passe</label><input class="inline" type="password" name="password" id="password"></p>
		<input type="hidden" id="accountLinkingToken" name="accountLinkingToken" value="<%= accountLinkingToken %>">
		<input type="hidden" id="redirectURI" name="redirectURI" value="<%= redirectURI %>">
	   <button class="red">Connexion</button>
            </form>
        </div>
    </div>
    
</div>
	
	<script type="text/javascript">
		$( document ).ready(function() {
			/* attach a submit handler to the form */
			$("#identification").submit(function(event) {

				/* stop form from submitting normally */
				event.preventDefault();

				/* get the action attribute from the <form action=""> element */
				var $form = $( this ),
					url = $form.attr( 'action' );
				  
				$.ajax({
					type: "POST",
					url: url,
					data: JSON.stringify({ email: $('#email').val(), mdp: $('#password').val(), accountLinkingToken: $('#accountLinkingToken').val(), redirectURI: $('#redirectURI').val() }),
					contentType: 'application/json',
					success: function(reponse) {
						if (reponse && !reponse.EstEnErreur) {
							// reponse.redirect contains the string URL to redirect to
							window.location.href = reponse.urlRedirection;
						}
						else {
							alert("Erreur");
						}
					}
				});
			});
		});
	</script>
</html>